.container {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 43%, rgba(32,61,102,1) 100%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: azure;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color:blanchedalmond;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
  color:white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.api-list {
  list-style-type: none;
  padding: 0;
  color: white;

}

.api-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.api-item strong {
  color: #333;
}


.custom-button {
  background-color: #4CAF50; /* Grün */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: #45a049; /* Dunkleres Grün beim Hovern */
}

.custom-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 10px;
}

.custom-input:focus {
  outline: none;
  border-color: dodgerblue;
}